body {
    margin: 0
}

.navbar {
    background-color: black;
    width: 100%;
    height: 49px;
}

.navbar a {
    color: red;
    text-decoration: none;
    text-align: center;
    float: left;
    padding: 14px 16px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: red;
    color: black;
}

.main-text {
    text-align: center;
    font-size: 40px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.product__img {
    padding-left: 33%;
}

.container-flex .product {
    background-color: #f1c99b;
    border: 2px solid black;
    flex: 0 25%;
    margin-bottom: 2rem;
}

.product-description {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid white;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

.main-image {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/545/193/non_2x/abstract-black-lines-pattern-repeat-striped-background-and-texture-luxury-style-vector.jpg");
    height: 380px;
    width: 100%;
    background-size: contain;
}

.main-form {
    text-align: left;
    color: #fc4700;
    top: 76em;
    position: absolute;
    left: 38%;
}

.main-form-tittle {
    text-align: center;
    font-size: 35px;
}

.main-footer {
    width: 100%;
    height: 350px;
    background: #111;
    left: 0;
    bottom: 0;
    z-index: -100;
    padding-top: 1em;
    text-align: center;
}

.main-footer .main-footer-text {
    color: #696969;
    column-count: 2;
    column-gap: 50px;
    font-size: 1em;
    font-weight: 300;
    padding-left: 41em;
}

.main-footer .main-footer-img {
    width: 10%;
    height: 10%;
}

@media (max-width: 1548px) {
    .product__img {
        padding-left: 28%;
    }
}

@media (max-width: 1282px) {
    .product__img {
        padding-left: 24%;
    }
}

@media (max-width:751px) {
    .product__img {
        padding-left: 6%;
    }
    .main-form {
        left: 22%;
    }
    .main-footer .main-footer-text {
        padding-left: 17em;
    }
}

@media (max-width:500px) {
    .product__img {
        padding-left: 0%;
    }
    .main-form {
        left: 6%;
        top: 80em;
    }
    .main-footer .main-footer-text {
        padding-left: 11em;
    }
}

.jumbotron {
    background-size: contain;
    background-color: rgb(172, 251, 251);
    text-align: center;
    padding-top: 1px;
}

.hr {
    color: #000;
}